table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--d-300);
}

th,
td {
  padding: 1rem 0;
  text-align: right;
}

.name {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--green);
}

.name span:hover {
  cursor: pointer;
  text-decoration: underline;
}
