:root {
  --d-100: #161715;
  --d-200: #272825;
  --d-300: #565360;

  --l-100: #ebebeb;
  --l-200: #90a4b7;

  --green: #7ecc52;
  --green-hover: #6fb348;
  --red: #eb334e;
  --purple: #9e7dcf;
  --yellow: #fcd144;

  --rad-15: 15px;
  --rad-10: 10px;
}
